:root {
    --backgroundColour: #005A58;
    --midColour: #B2CDCC;
    --darkColour: #7FACAB;
    --textColour: #FFFFFF;
    --highlightColour: #00A89D;
    --activeColour: #046B6A;
    --inactiveColour: #046B6A;
    --pagePadding: 48px;
    --breakHeight: 48px;
    --largeFontSize: 48pt;
    --regularFontSize: 36pt;
    --mediumFontSize: 18pt;
    --smallFontSize: 13pt;
    --headerMarginBottom: 24px;
    --smallMarginBottom: 12px;
    --buttonDimension: 224px;
    --buttonMargin: 12px;
    --buttonTextInset: 24px;
    --buttonRadius: 6px;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaNeueBold.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaNeueLight.otf") format("opentype");
}

html, body {
    background-color: var(--backgroundColour);
    color: var(--textColour);

    font-family: HelveticaBold;
    font-size: var(--smallFontSize);
    line-height: var(--smallFontSize);

    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
    -webkit-font-smoothing: antialiased;

    cursor: auto;
}

#loadingText {
    font-family: HelveticaBold;
    font-size: var(--regularFontSize);
    line-height: var(--regularFontSize);
    color: var(--activeColour);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    text-align: center;
    vertical-align: central;
}

.break {
    width: 100%;
    height: var(--breakHeight);
}

.mainPanel {
    width: calc(100% - var(--pagePadding) * 2);
    height: calc(100% - var(--pagePadding) * 2);
    padding: var(--pagePadding);
    overflow-y: scroll;
}

.activePanel {
    background-color: #C9855D;
    color: #E3C1AD;
}

.largeHeader {
    user-select: none;
    font-size: var(--largeFontSize);
    line-height: var(--largeFontSize);
    margin-bottom: var(--headerMarginBottom);
}

.largeHeaderDark {
    user-select: none;
    color: var(--darkColour);
    font-size: var(--largeFontSize);
    line-height: var(--largeFontSize);
    margin-bottom: var(--smallMarginBottom);
}

.regularHeader {
    user-select: none;
    color: var(--midColour);
    font-size: var(--regularFontSize);
    line-height: var(--regularFontSize);
    margin-bottom: var(--headerMarginBottom);
}

.smallHeader {
    user-select: none;
    font-size: var(--smallFontSize);
    line-height: var(--smallFontSize);
    text-transform: capitalize;
    margin-bottom: var(--headerMarginBottom);
}

.buttonPanel {
    width: calc(4.5 * (var(--buttonDimension) + var(--buttonMargin)));
    max-width: calc(4.5 * (var(--buttonDimension) + var(--buttonMargin)));
    font-size: 0;
}

.innerButtonPanel {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: none;
}

.editableSurveyName {
    background: none;
    background-color: none;
    border-style: none;
    color: var(--textColour);
    border-radius: 0;
    font-size: var(--regularFontSize);
    line-height: var(--regularFontSize);
    border: none;
    outline: none;
    opacity: 1;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: var(--smallMarginBottom);
    padding: 0;
    cursor: text;
}

.editableSurveyInfo {
    background: none;
    background-color: none;
    border-style: none;
    color: var(--darkColour);
    border-radius: 0;
    font-size: var(--mediumFontSize);
    line-height: var(--mediumFontSize);
    border: none;
    outline: none;
    opacity: 1;
    position: relative;
    margin: 0;
    width: 228px;
    max-width: 228px;
    margin-right: 12px;
    margin-bottom: var(--headerMarginBottom);
    padding: 0;
    cursor: text;
}

.editableQuestionPanel {
    position: relative;
    padding: 24px;
    padding-left: 48px;
    width: calc(var(--buttonDimension) * 4);
    max-width: calc(var(--buttonDimension) * 4);
    height: calc(var(--buttonDimension) * 1);
    max-height: calc(var(--buttonDimension) * 1);
    margin: 0;
    padding: 0;
    margin-bottom: var(--buttonMargin);
    background-color: var(--inactiveColour);
    border-style: none;
    border-radius: var(--buttonRadius);
    border: none;
    outline: none;
    margin-right: var(--buttonMargin);
}

.editableQuestionField {
    width: calc(var(--buttonDimension) * 3.5 - 24px);
    height: calc(var(--buttonDimension) * 1 - 48px);
    opacity: 1;
    position: absolute;
    left: calc(var(--buttonDimension) / 2);
    top: 24px;
    bottom: 24px;
    right: 24px;
    margin: 0;
    padding: 0;
    cursor: text;
    text-align: left;
    vertical-align: top;
    border: none;
    outline: none;
    background: none;
    font-size: var(--largeFontSize);
    line-height: var(--largeFontSize);
    font-family: HelveticaBold;
    color: var(--darkColour);
    resize: none;
}

.editableButtonFieldIcon {
    position: absolute;
    left: calc(-1 * var(--buttonDimension) / 4);
    top: calc(-1 * var(--buttonDimension) / 4);
    width: var(--buttonDimension);
    height: var(--buttonDimension);
    min-width: var(--buttonDimension);
    min-height: var(--buttonDimension);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: var(--buttonDimension) var(--buttonDimension);
    background-position: center;
    background-image: url('../icons/text-mc.png');
}

.editableQuestionFieldIconLetter {
    position: absolute;
    left: 24px;
    top: 24px;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    font-size: var(--largeFontSize);
    line-height: var(--largeFontSize);
    color: var(--textColour);
    user-select: none;
}

.editableAnswerPanel {
    position: relative;
    padding: 24px;
    padding-left: 48px;
    width: calc(var(--buttonDimension) * 4);
    max-width: calc(var(--buttonDimension) * 4);
    height: calc(var(--buttonDimension) * 1);
    max-height: calc(var(--buttonDimension) * 1);
    margin: 0;
    padding: 0;
    margin-bottom: var(--buttonMargin);
    background-color: var(--inactiveColour);
    border-style: none;
    border-radius: var(--buttonRadius);
    border: none;
    outline: none;
    margin-right: var(--buttonMargin);
}

.editableAnswerField {
    width: calc(var(--buttonDimension) * 3.5 - 24px);
    height: calc(var(--buttonDimension) * 1 - 48px);
    opacity: 1;
    position: absolute;
    left: calc(var(--buttonDimension) / 2);
    top: 24px;
    bottom: 24px;
    right: 24px;
    margin: 0;
    padding: 0;
    cursor: text;
    text-align: left;
    vertical-align: top;
    border: none;
    outline: none;
    background: none;
    font-size: var(--regularFontSize);
    line-height: var(--regularFontSize);
    font-family: HelveticaLight;
    color: var(--darkColour);
    resize: none;
}

.editableAnswerFieldIcon {
    position: absolute;
    left: 24px;
    top: 24px;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    font-size: var(--regularFontSize);
    line-height: var(--regularFontSize);
    color: var(--textColour);
    user-select: none;
}

editableQuestionHeader:focus {
    color: var(--textColour);
    background-color: var(--activeColour);
}

.editableObservationPanel {
    position: relative;
    padding: 24px;
    padding-left: 48px;
    width: calc(var(--buttonDimension) * 4);
    max-width: calc(var(--buttonDimension) * 4);
    height: calc(var(--buttonDimension) * 2);
    max-height: calc(var(--buttonDimension) * 2);
    margin: 0;
    padding: 0;
    margin-bottom: var(--buttonMargin);
    background-color: var(--inactiveColour);
    border-style: none;
    border-radius: var(--buttonRadius);
    border: none;
    outline: none;
    margin-right: var(--buttonMargin);
}

.editableObservationPanel:focus {
    color: var(--textColour);
    background-color: var(--activeColour);
}

.editableObservationField {
    width: calc(var(--buttonDimension) * 3.5 - 24px);
    height: calc(var(--buttonDimension) * 2 - 48px);
    opacity: 1;
    position: absolute;
    left: calc(var(--buttonDimension) / 2);
    top: 24px;
    bottom: 24px;
    right: 24px;
    margin: 0;
    padding: 0;
    cursor: text;
    text-align: left;
    vertical-align: top;
    border: none;
    outline: none;
    background: none;
    font-size: var(--regularFontSize);
    line-height: var(--regularFontSize);
    font-family: HelveticaLight;
    color: var(--darkColour);
    resize: none;
}

editableObservationField:focus {
    color: var(--textColour);
}

.editableObservationFieldIcon {
    position: absolute;
    left: calc(-1 * var(--buttonDimension) / 4);
    top: calc(-1 * var(--buttonDimension) / 4);
    width: var(--buttonDimension);
    height: var(--buttonDimension);
    min-width: var(--buttonDimension);
    min-height: var(--buttonDimension);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: var(--buttonDimension) var(--buttonDimension);
    background-position: center;
    background-image: url('../icons/text-obs.png');
}

.fakeButton {
    width: var(--buttonDimension);
    height: var(--buttonDimension);
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--buttonMargin);
    margin-bottom: var(--buttonMargin);
    padding: 0;
    position: relative;
    display: inline-block;
}

.answerFileInput, .questionFileInput {
    opacity: 0;
    position: absolute;
    z-index: -10;
    display: none;
}

.uploadFileButton {
    background-color: var(--activeColour);
    border-style: none;
    border-radius: var(--buttonRadius);
    width: var(--buttonDimension);
    height: var(--buttonDimension);
    background-repeat: no-repeat;
    background-size: var(--buttonDimension) var(--buttonDimension);
    background-position: center;
    border: none;
    outline: none;
    opacity: 1;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--buttonMargin);
    margin-bottom: var(--buttonMargin);
    padding: 0;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform ease-in-out 0.33s;
    background-image: url('../icons/upload.png');
    display: inline-flex;
    font-size: 0;
}

.answerFileProgress, .questionFileProgress {
    position: absolute;
    top: var(--buttonTextInset);
    left: 0;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    color: var(--textColour);
    font-family: HelveticaLight;
    font-size: var(--smallFontSize);
    text-transform: none;
}

label:hover, label:active, input:hover + label, input:active + label {
    background-color: var(--highlightColour);
    transform: scale(1.05, 1.05);
}

.imageButton {
    background-color: var(--inactiveColour);
    border-style: solid;
    border-width: 6px;
    border-radius: var(--buttonRadius);
    border-color: var(--inactiveColour);
    width: calc(var(--buttonDimension) * 2);
    height: calc(var(--buttonDimension) - 12px);
    outline: none;
    opacity: 1;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--buttonMargin);
    margin-bottom: var(--buttonMargin);
    padding: 0;
    transform: scale(1, 1);
    transition: transform ease-in-out 0.33s;
    display: inline-flex;
    font-size: 0;
}

.surveyImage {
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--buttonRadius);
    border: none;
    outline: none;
}

.answerImage {
    object-fit: cover;
    border: none;
    outline: none;
    background-color: var(--inactiveColour);
    border-radius: var(--buttonRadius);
    width: var(--buttonDimension);
    height: var(--buttonDimension);
    border: none;
    outline: none;
    opacity: 1;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--buttonMargin);
    margin-bottom: var(--buttonMargin);
    padding: 0;
    transform: scale(1, 1);
    transition: transform ease-in-out 0.33s;
    display: inline-flex;
    font-size: 0;
}

.questionImage {
    background-color: var(--backgroundColour);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--buttonRadius);
    border: none;
    outline: none;
}

.regularButton {
    background-color: var(--activeColour);
    border-style: none;
    border-radius: var(--buttonRadius);
    width: var(--buttonDimension);
    height: var(--buttonDimension);
    background-repeat: no-repeat;
    background-size: var(--buttonDimension) var(--buttonDimension);
    background-position: center;
    border: none;
    outline: none;
    opacity: 1;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--buttonMargin);
    margin-bottom: var(--buttonMargin);
    padding: 0;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform ease-in-out 0.33s;
}

.buttonText {
    position: absolute;
    bottom: var(--buttonTextInset);
    left: 0;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    color: var(--textColour);
    font-family: HelveticaLight;
    font-size: var(--smallFontSize);
    text-transform: none;
}

.regularButton:hover:enabled {
    background-color: var(--highlightColour);
    transform: scale(1.05, 1.05);
}

.regularButton:disabled {
    opacity: 0.5;
    background-color: var(--inactiveColour);
    cursor: auto;
}

.buttonClick {
    animation-name: button-click-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: scale(1.05, 1.05);
}

@keyframes button-click-animation {
    0% { opacity: 1; transform: scale(1.05, 1.05); }
    50% { opacity: 0.5; transform: scale(0.9, 0.9); }
    100% { opacity: 1; transform: scale(1, 1); }
}

.addButton {
    background-image: url('../icons/add.png');
}

.helpButton {
    background-image: url('../icons/help.png');
    cursor: help;
}

.saveButton {
    background-image: url('../icons/sensor.png');
}

.textQuestionButton {
    background-image: url('../icons/text-q.png');
}

.buttonQuestionButton {
    background-image: url('../icons/buttons.png');
}

.imageQuestionButton {
    background-image: url('../icons/image-q.png');
}

.imageAnswerButton {
    background-image: url('../icons/image-mc.png');
}

.imageQuestionAndAnswerButton {
    background-image: url('../icons/image-choose.png');
}

.sensorQuestionButton {
    background-image: url('../icons/sensor.png');
}

.mapQuestionButton {
    background-image: url('../icons/map.png');
}

.visualiseButton {
    background-image: url('../icons/visualise.png');
}

.resultsButton {
    background-image: url('../icons/sensor.png');
}

.saveButton {
    background-image: url('../icons/upload.png');
}

.runButton {
    background-image: url('../icons/run.png');
}

.shareButton {
    background-image: url('../icons/share.png');
}

.deleteButton {
    background-image: url('../icons/delete.png');
}

.deleteButton:hover {
    background-color: indianred;
}

.innerButton {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: var(--inactiveColour);
    opacity: 1;
    color: var(--activeColour);
    background-repeat: no-repeat;
    background-size: 112px 112px;
    background-position: center;
    margin-right: 6px;
    margin-top: 6px;
    float: right;
    transform: scale(1, 1);
    transition: transform ease-in-out 0.33s;
}

.innerButton:hover {
    transform: scale(1.1, 1.1);
    color: var(--textColour);
}

.modalBackground {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    position: absolute;
    background-color: var(--activeColour);
    color: var(--textColour);
    font-family: HelveticaLight;
    margin: 0;
    padding: 48px;
    border-radius: var(--buttonRadius);
    width: 448px;
    height: 224px;
    left: calc((100% - 544px) / 2);
    top: calc((100% - 320px) / 2);
    cursor: text;
}

.modalClose {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 12px;
    right: 12px;
    background-image: url('../icons/delete.png');
    background-repeat: no-repeat;
    background-size: 224px 224px;
    background-position: center;
    transform: scale(1, 1);
    transition-property: transform, opacity;
    transition: all ease-in-out 0.33s;
    cursor: pointer;
    opacity: 0.75;
}

.modalClose:hover {
    transform: scale(1.2, 1.2);
    opacity: 1.0;
}